/* Reset and Global Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Cohesive font family */
    font-size: 16px; /* Cohesive font size */
    font-weight: 400; /* Cohesive font weight */
    font-style: normal; /* Cohesive font style */
    line-height: 1.6;
}

/* Header Styles */
header {
    position: fixed; /* Fixed position */
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2980b9; /* Calming shade of blue */
    color: #fff;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Adding a subtle shadow for depth */
    z-index: 1000; /* Ensuring the header stays on top */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px; /* Cohesive font size */
    font-weight: 600; /* Cohesive font weight */
    font-style: italic; /* Cohesive font style */
    color: #fff;
    text-decoration: none;
    padding: 10px; /* Adding padding around the logo */
}

nav {
    flex-grow: 1; /* Navigation takes remaining space */
    text-align: right; /* Aligning navigation items to the right */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 20px; /* Adding margin between navigation items */
}

nav ul li:first-child {
    margin-left: 0; /* Removing margin from the first navigation item */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 400; /* Cohesive font weight */
    font-style: normal; /* Cohesive font style */
}

nav ul li a:hover {
    color: #ccc;
}

/* Responsive Navigation */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: flex-start;
        padding: 0 10px; /* Adjusting padding for smaller screens */
    }

    .logo {
        margin-bottom: 10px;
    }

    nav {
        margin-top: 20px;
        text-align: center; /* Centering navigation items on smaller screens */
    }

    nav ul {
        display: flex;
        justify-content: center; /* Centering navigation items */
    }

    nav ul li {
        margin: 0 10px; /* Adding margin around navigation items */
    }
}




.hero {
    background-color: #f2f2f2;
    padding: 50px 0;
    text-align: center;
}

footer {
    background-color: #2980b9; /* Calming shade of blue */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}
